
.treasurer_main
  .treasurer_main__main_container
    .treasurer_input
      = form_for @treasurer, url: user_treasurers_path, data: { remote: true } do |f|
        .treasurer_input__inputs
          = f.text_field :date, value: @date, class: "treasurer_input__inputs__date"
          = f.text_field :comment, placeholder: "品目(15文字まで)", class: "treasurer_input__inputs__comment"
          = f.text_field :category, placeholder: "カテゴリ(15文字まで)", class: "treasurer_input__inputs__category"
          = f.text_field :price, placeholder: "値段(半角)", class: "treasurer_input__inputs__price", style: "ime-mode:disabled;"
          .treasurer_input__inputs__submit
            = f.submit "登録"
    .treasurer_list
      %ul.treasurer_list__header
        %li.treasurer_list__header__date
          = sortable "date", "日付"
        %li.treasurer_list__header__comment
          = sortable "comment", "品目"
        %li.treasurer_list__header__category
          = sortable "category", "カテゴリ"
        %li.treasurer_list__header__price
          = sortable "price", "値段"
      - @treasurers.each do |treasurer|
        %ul.treasurer_list__main
          %li.treasurer_list__main__date
            = treasurer.date
          %li.treasurer_list__main__comment
            = treasurer.comment
          %li.treasurer_list__main__category
            = treasurer.category
          %li.treasurer_list__main__price
            = treasurer.price.to_s(:delimited)
